<h1>I like to write poetry and have worked in the finance line for many years.</h1><br>
<h1>I have worked for large private high tech companies, universities and the government.</h1><br>
<h1>I write, I program. I try to reach towards ... ... an elusive somewhere. And they all make sense don't they?</h1><br>
<a href="https://www.goodreads.com/author/show/7711308.Jeffrey_Koh">Jeff's list of books</a>

<%= link_to 'Home', root_path %>