<h1>I like to write poetry and have worked in the finance line for many years.</h1><br>
<h1></h1>I have worked for large private high tech companies, universities and the government.
I write, I program. I try to reach towards ... ... an elusive somewhere. And they all make sense don't them? This is my link: https://www.amazon.com/Jeffrey-K.-Koh/e/B00J03NZ50%3Fref=dbs_a_mng_rwt_scns_share
Knock, try, bang and the words they fail, the passions burn out till dust is all that remains and embers remain orange/hot.
</h1>

<%= link_to 'Home', root_path %>